.modal-and-background {
  .dark-background {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.63);
  }

  .modal-url {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    height: 450px;
    width: 700px;
    background: white;
    background-image: url(../img/modal-background.png);
    background-size: contain;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: #1f1e4d;
    padding: 40px;

    p {
      font-size: 14pt;
      line-height: 40px;
    }

    .btn-close {
      display: flex;
      justify-content: center;
      align-items: center;

      box-shadow: rgba(0, 0, 0, 0.144) 0px 5px 15px;
      height: 45px;
      width: 140px;
      background: #fcc400;
      font-weight: 600;
      font-size: 12pt;
      border-radius: 150px;
      border: none;
      transition: background 0.5s;

      .close-icon {
        font-size: 16pt;
        padding-left: 5px;
      }
    }

    .btn-close:hover {
      background: #cfa301;
      cursor: pointer;
    }
  }

  .hidden {
    display: none;
  }
}

@media (max-width: 1399px) {
  .modal-and-background {
    .modal-url {
      width: 400px;
      height: 500px;
      .btn-close {
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (max-width: 480px) {
  .modal-and-background {
    .modal-url {
      width: 320px;
      height: 650px;
      padding: 0;
      .btn-close {
        margin-bottom: 20px;
      }
    }
  }
}
