.shortener {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 90vh;

  .text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 420px;
    margin-bottom: 50px;

    h1 {
      font-size: 28pt;
      margin-bottom: 15px;
    }

    .text-urls {
      color: #fcc400;
    }

    .description-container {
      width: 400px;
    }

    .description-text {
      font-weight: 500;
      font-size: 13pt;
      line-height: 35px;

      margin-bottom: 40px;
    }

    img {
      height: 700px;
    }

    input {
      height: 60px;
      width: 400px;
      border: none;
      border-radius: 150px;

      font-family: "Lato", sans-serif;
      margin-bottom: 40px;
      font-size: 18pt;
      text-align: center;
      padding-right: 10px;
      padding-left: 10px;

      box-shadow: #00000059 0px 5px 15px;
    }

    input:focus {
      outline: none;
    }

    input::placeholder {
      color: #cacaca;
    }

    input:focus::placeholder {
      color: transparent;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;

      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      height: 45px;
      width: 140px;
      background: #fcc400;
      font-weight: 600;
      font-size: 12pt;
      border-radius: 150px;
      border: none;
      transition: background 0.5s;

      .check-icon {
        font-size: 14pt;
        margin-left: 5px;
      }
    }

    button:hover {
      background: #cfa301;
      cursor: pointer;
    }
  }
  .main-image {
    height: 550px;
    margin-left: 100px;
  }
}

@media (max-width: 1399px) {
  .shortener {
    .main-image {
      height: 450px;
    }
  }
}

@media (max-width: 1199px) {
  .shortener {
    .main-image {
      height: 250px;
    }
  }
}

@media (max-width: 991px) {
  .shortener {
    .main-image {
      height: 0px;
      margin: 0;
    }
  }
}

@media (max-width: 480px) {
  .shortener {
    .text-container {
      transform: scale(0.85);
      margin: 0;
      width: 320px;

      .description-text {
        margin: 0;
      }

      input {
        width: 310px;
      }
    }
    .main-image {
      height: 0px;
      margin: 0;
    }
  }
}
